

img {
	width: 400px;
	height: 400px;
	text-align: center;
	padding-left: 80px; 
	padding-top: 150px;
	float: left;
	
}


p {
	text-align: center;
	/*position: relative; */
	font-family: Geomanist; 
	padding-right: 160px;
	padding-top: 250px;


}